name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.15.6"
      - uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: v1.34
      - name: Unit testing
        run: go test ./...
